---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <style>
            body {
                margin: 0;
                background-color: #FFFFFF; /* 背景色を白に変更 */
                font-family: Arial, sans-serif;
            }
            .hero {
                display: flex;
                justify-content: center;
                align-items: center;
                min-height: 100vh;
                background-color: #FFFFFF;
            }
            .hero img {
                max-width: 300px; /* ロゴの最大幅を設定 */
                max-height: 200px; /* ロゴの最大高さを設定 */
                width: auto;
                height: auto;
            }
            .blog-list {
                margin-top: 20px;
                text-align: center;
                padding: 20px;
            }
            .blog-list ul {
                list-style: none;
                padding: 0;
            }
            .blog-list li {
                margin: 5px 0;
            }
            .blog-list a {
                text-decoration: none;
                color: #007BFF;
            }
            .blog-list a:hover {
                text-decoration: underline;
            }
            footer {
                text-align: center;
                padding: 10px;
                background-color: #F8F9FA;
                font-size: 14px;
                color: #6C757D;
                position: relative;
                bottom: 0;
                width: 100%;
            }
        </style>
    </head>
    <body>
        <section class="hero">
            <img src="/images/logo.png" alt="合同会社ふふむのロゴ" />
        </section>
        <section class="blog-list">
            <h2>お知らせ</h2>
            <ul>
                {posts.map(post => (
                    <li>
                        <a href={`/blog/${post.id}/`}>
                            <h4 class="title">{post.data.title}</h4>
                            <p class="date">
                                <FormattedDate date={post.data.pubDate} />
                            </p>
                        </a>
                    </li>
                ))}
            </ul>
        </section>
		<Footer />
    </body>
</html>
